<!DOCTYPE html>
<html>
<head>
	<!-- linking a css style sheet -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<!-- linking a javascript file -->
	<script type="text/javascript" src='{{ url_for('static', filename='my_script.js') }}'></script>
	<!-- linking an image -->
	<img type="text/javascript">
</head>
<body>
	<div id="wrapper">
		<h1>Hi</h1>
		<p>Your Gold {{ session['gold'] }}</p>
		<div class="box" id="farm">
			<form action="/process_money" method="post">
				<h3>Farm</h3>
				<p>(earns 10-20 gold)</p>
				<input type="hidden" name="building" value="Farm" />
				<input type="submit" value="Find Gold!" />
			</form>
		</div>
		<div class="box" id="cave">
			<form action="/process_money" method="post">
				<h3>Cave</h3>
				<p>(earns 5-10 gold)</p>
				<input type="hidden" name="building" value="Cave" />
				<input type="submit" value="Find Gold!" />
			</form>
		</div>
		<div class="box" id="house">
			<form action="/process_money" method="post">
				<h3>House</h3>
				<p>(earns 2-5 gold)</p>
				<input type="hidden" name="building" value="House" />
				<input type="submit" value="Find Gold!" />
			</form>
		</div>
		<div class="box" id="casino">
			<form action="/process_money" method="post">
				<h3>Casino</h3>
				<p>(earns/takes 0-50 gold)</p>
				<input type="hidden" name="building" value="Casino" />
				<input type="submit" value="Find Gold!" />
			</form>
		</div>
		<p>Activities:</p>
		<textarea rows="10" cols="50" name="activities" id="activities_box">
		
	Earned {{ output }} gold from the {{ activity_log }} {{ time_stamp }}
	{% for output in session['message']%}
	{{ output }}
	{% endfor %}
		
		</textarea>
	</div>
</body>
</html>